.main {
    padding: 3% 0;
}

.stores {
    color: black;
    cursor: pointer;
}

.stores:hover {
    text-decoration: none;
}

.mapContainer {
    /* border: 1px solid red; */
    height: 800px;
    width: 100%;
    }
    
.header {
    display: flex;
}
