.main {
    padding: 3% 0;
}

.stores {
    color: black;
    cursor: pointer;
}

.stores:hover {
    text-decoration: none;
}

.mapContainer {
    /* border: 1px solid red; */
    height: inherit;
    width: 100%;
}
    
.header {
    display: flex;
}

@media (max-width: 499px) {
    .mapContainer {
        margin-bottom: 2rem;
    }
}