.mainBody {
  padding: 3% 10%;
}

.contents {
  margin-top: 1.5rem;
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
}

.imgFrame {
  width: 250px;
  height: 250px;
  border: 1px solid black;
}

.img {
  height: 100%;
  width: auto;
  margin: 0 auto;
}

.report {
  display: flex;
}

.reportButton {
  margin-left: 0.5rem;
}

.reportButton:hover {
  color: red!important;
  text-decoration: underline!important;
  cursor: pointer;
}

.tableWrapper {
  margin: 1.3rem auto 0 auto;
  width: 78.5%;
}

.table {
  font-family: "Montserrat SemiBold", HelveticaNeueBold, HelveticaNeue-Bold, "Helvetica Neue Bold", HelveticaBold, Helvetica-Bold, "Helvetica Bold", HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid grey;
  margin: 0 auto;
  margin-bottom: 0;
  padding: 15px 2px;
  width: 100%; 
}

.table2 {
  font-family: "Montserrat SemiBold", HelveticaNeueBold, HelveticaNeue-Bold, "Helvetica Neue Bold", HelveticaBold, Helvetica-Bold, "Helvetica Bold", HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid grey;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 15px 2px; 
}

.thead {
  border-bottom: 4px solid #DADADA;
  color: #212121;
}

.trow {
  font-size: 40px;
  padding-left: 10px;
}

.subHead {
  padding-left: 10px;
}

.tbody {
  border-bottom: 1px solid black;
}

.nutrient {
  border-bottom: 2px solid #DADADA;
}

.caloriesTitle {
  padding-left: 10px;
  font-size: 34px;
}

.calories {
  text-align-last: right;
  padding-right: 10px;
  font-size: 34px;
}

.header {
  text-align-last: right;
  padding-right: 10px;
}

.name {
  float: left;
  padding-left: 10px;
}

.amount {
  font-family: "helvetica";
  font-size: 18px;
  font-weight: normal;
  margin-left: 8px;
}

.daily {
  float: right;
  padding-right: 10px;
}

.dv {
  padding: 10px;
  font-family: "helvetica";
  font-size: 14px;
  font-weight: normal;
}

.popupTitle {
  text-align: center;
}

.quantityButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.8rem;
  margin-top: 0.2rem;
}

.decrement {
  margin-right: 1.5rem;
  padding: .2rem .6rem;
}

.increment {
  margin-left: 1.5rem;
  padding: .2rem .6rem;
}

.quantityInput {
  width: 3rem;
  font-size: 1.2rem;
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
.quantityInput::-webkit-outer-spin-button,
.quantityInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.quantityInput {
  -moz-appearance: textfield;
}

.reset {
  display: block;
  margin: 0 auto;
  font-size: 0.9rem;
  padding: 0 .6rem;
  margin-bottom: 0.5rem;
}

.checkoutButton {
  background: none!important;
  border: none;
  padding: 0!important;
  font-size: 1rem;
  color:#3B7EFF;
  text-decoration: none;
  cursor: pointer;
  margin: 0.5rem;
}

.checkoutButton:hover {
  color: #35548A;
}

@media only screen and (max-device-width: 991px) {
  .mainBody {
    padding: 5% 7%;
  }
  
  .tableWrapper {
    width: 100%;
    margin-bottom: 2rem;
  }
}