
.body {
  padding: 3% 10%;
  box-sizing: border-box;
}

.title {
  text-align: center;
  margin: 5% 0;
}

.searchContainer {
  display: block;
  margin: 0 5%;
}


.search {
  padding: 10px;
  font-size: 17px;
  float: left;
  margin-left: 0%;
  margin-bottom: 10px;
  width: 80%;
}

.button {
  float: right;
  width: 20%;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.listContainer {
  display: block;
  margin: 0 5%;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listCards {
  margin-top: 130px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
}

.listItem {
  padding: 2px 0;
  border-bottom: 1px solid #CFD4DA;
}

.itemCard {
  margin: 2.5%;
  text-align: center;
  width: 45%;
  border: 1px solid #CFD4DA;
}

.itemLink {
  color: black;
}

.itemLink:hover {
  text-decoration: none;
}

.itemImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 105%;
  margin-bottom: 10px;
}

.itemRecipeData {
  margin: 10px 10% 0;
  padding: 10px 0 8px;
  border-top: 1px solid #CFD4DA;
  border-bottom: 1px solid #CFD4DA;
  color: darkslateblue;
  font-size: 0.9em;
}

.itemRecipeLabel {
  color: dimgray;
}

.itemRecipeSource {
  padding-left: 10%;
  text-align: left;
  font-style: italic;
  color: dimgray;
  margin: 10px 0 8px;
  font-size: 0.9em;
}


.pagination {
  margin-top: 1.5em;
  justify-content: center;
}
