.mainBody {
  padding: 3% 10%;
}

.imgFrame {
  width: 250px;
  height: 250px;
  border: 1px solid black;
}

.img {
  height: 100%;
  width: auto;
  margin: 0 auto;
}

.report {
  display: flex;
}

.reportButton {
  margin-left: 0.5rem;
}

.reportButton:hover {
  color: red!important;
  text-decoration: underline!important;
  cursor: pointer;
}

.table {
  font-family: "Montserrat SemiBold", HelveticaNeueBold, HelveticaNeue-Bold, "Helvetica Neue Bold", HelveticaBold, Helvetica-Bold, "Helvetica Bold", HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid black;
  padding: 15px 2px;
}

.thead {
  border-bottom: 1px solid black;
}

.tbody {
  border-bottom: 1px solid black;
}