.mainBody {
  padding: 3% 10%;
}

.buttonsWrapper {
  display: flex;
  justify-content: space-between;
}

.table {
  margin-top: 1.7rem;
}

.quantityButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkoutWrapper {
  display: flex;

  /* center aligned */
  justify-content: flex-end;

  /* right aligned */
  /* flex-direction: row-reverse; */
  /* justify-content: space-between; */
}

.decrement {
  margin-right: 1rem;
  padding: .2rem .6rem;
}

.increment {
  margin-left: 1rem;
  padding: .2rem .6rem;
}

.quantityInput {
  width: 3rem;
  font-size: 1.2rem;
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
.quantityInput::-webkit-outer-spin-button,
.quantityInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.quantityInput {
  -moz-appearance: textfield;
}

.date {
  text-align: center;
}

.deleteItem {
  padding: .2rem .6rem;
}

@media only screen and (max-device-width: 499px) {
  .mainBody {
    padding: 5% 4.5%;
    font-size: 0.8rem;
  }

  .table {
    margin-top: 1rem;
  }

  .decrement {
    margin-right: 0.7rem;
    padding: 0 0.4rem;
  }
  
  .increment {
    margin-left: 0.7rem;
    padding: 0 0.4rem;
  }

  .quantityInput {
    width: 2.2rem;
    font-size: 0.9rem;
  }
}