.mainBody {
  padding: 3% 10%;
}

.buttonsWrapper {
  display: flex;
  justify-content: space-between;
}

.table {
  margin-top: 1.7rem;
}

.quantityButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkoutWrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.decrement {
  margin-right: 1rem;
  padding: .2rem .6rem;
}

.increment {
  margin-left: 1rem;
  padding: .2rem .6rem;
}

.quantity {
  margin-bottom: 0;
  font-size: 1rem;
  /* -moz-appearance: textfield; */
}

.date {
  text-align: center;
}

@media only screen and (max-device-width: 499px) {
  .mainBody {
    padding: 3% 4.5%;
    font-size: 0.8rem;
  }

  .table {
    margin-top: 1rem;
  }

  .decrement {
    margin-right: 0.7rem;
    padding: 0 0.4rem;
  }
  
  .increment {
    margin-left: 0.7rem;
    padding: 0 0.4rem;
  }
}