/* NavBar.module.css */
.nav {
    font-size: 14px;
}

.appTitle {
    font-size: 38px;
}

.userName {
  display: flex;
  align-items: center;
}

.greeting {
  margin-bottom: 0;
  margin-right: 0.9em;
  padding-right: 0.9em;
  border-right: 1px solid grey;
}

.myCart {
  margin-bottom: 0;
  margin-right: 0.9em;
  padding-right: 0.9em;
  border-right: 1px solid grey;
}

.myCart:hover {
  text-decoration: none;
}

.checkMark {
  width: 25px;
  margin-right: 5px;
}

.signOutMsg {
  display: flex;
  align-items: center;
  animation: fade ease 10s;
  -webkit-animation: fade ease 10s;
  -moz-animation: fade ease 10s;
  -o-animation: fade ease 10s;
  -ms-animation: fade ease 10s;
}
@keyframes fade {
  0%,100% { opacity: 0 }
  10%, 90% { opacity: 1 }
}

@-moz-keyframes fade {
  0%,100% { opacity: 0 }
  10%, 90% { opacity: 1 }
}

@-webkit-keyframes fade {
  0%,100% { opacity: 0 }
  10%, 90% { opacity: 1 }
}

@-o-keyframes fade {
  0%,100% { opacity: 0 }
  10%, 90% { opacity: 1 }
}

@-ms-keyframes fade {
  0%,100% { opacity: 0 }
  10%, 90% { opacity: 1 }
}

.greeting {
  margin-bottom: 0;
  margin-right: 0.9em;
  padding-right: 0.9em;
  border-right: 1px solid grey;
}

.myCart {
  margin-bottom: 0;
  margin-right: 0.9em;
  padding-right: 0.9em;
  border-right: 1px solid grey;
}

.myCart:hover {
  text-decoration: none;
}

a.signIn:hover {
  text-decoration: none;
}

.signoutButton {
  background: none!important;
  border: none;
  padding: 0!important;
  color: #fff;
  cursor: pointer;
}