/* NavBar.module.css */

.appTitleLink {
  margin-bottom: 0;
  margin-right: 0.3em;
  padding-right: 0.9em;
  color: #E5E5E5;
}

.appTitleLink:hover {
  color: #A6A6A6;
  text-decoration: none;
}

.appTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

.appIcon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.2rem;
}

.link {
  margin-bottom: 0;
  margin-right: 0.3em;
  padding-right: 0.9em;
  color: #A6A6A6;
  font-size: 0.95rem;
}

.link:hover {
  color: #E5E5E5;
  text-decoration: none;
}

.userName {
  display: flex;
  align-items: center;
}

.greeting {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  margin-right: 0.9em;
  padding-right: 0.9em;
  border-right: 1px solid grey;
}

.myAccount {
  color: #DCDCDC;
  margin-bottom: 0;
  margin-right: 0.9em;
  padding-right: 0.9em;
  border-right: 1px solid grey;
  cursor: pointer;
}

.myAccount:hover {
  text-decoration: none;
}

.myAccountList {
  list-style-type: none;
  padding: 0 5px;
  margin-bottom: 0.3rem;
}

.myAccountListItem:first-of-type {
  margin-top: 8px;
  margin-bottom: 8px;
}

.myAccountListItem {
  margin-bottom: 8px;
}

.myAccountListLink {
  font-size: 1rem;
}

.checkMark {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.signOutText {
  margin: 0;
}

.signOutMsg {
  display: flex;
  align-items: center;
  animation: fade ease 10s;
  -webkit-animation: fade ease 10s;
  -moz-animation: fade ease 10s;
  -o-animation: fade ease 10s;
  -ms-animation: fade ease 10s;
}
@keyframes fade {
  0%,100% { opacity: 0 }
  10%, 90% { opacity: 1 }
}

@-moz-keyframes fade {
  0%,100% { opacity: 0 }
  10%, 90% { opacity: 1 }
}

@-webkit-keyframes fade {
  0%,100% { opacity: 0 }
  10%, 90% { opacity: 1 }
}

@-o-keyframes fade {
  0%,100% { opacity: 0 }
  10%, 90% { opacity: 1 }
}

@-ms-keyframes fade {
  0%,100% { opacity: 0 }
  10%, 90% { opacity: 1 }
}

.greeting {
  margin-bottom: 0;
  margin-right: 0.9em;
  padding-right: 0.9em;
  border-right: 1px solid grey;
}

a.signIn:hover {
  text-decoration: none;
}

.signoutButton {
  background: none!important;
  border: none;
  padding: 0!important;
  color: #fff;
  cursor: pointer;
}

@media only screen and (max-device-width: 991px) {
  .link:first-of-type {
    margin-top: 0.5rem;
  }
  .link {
    margin-bottom: 0.5rem;
  }
  .link:last-of-type {
    margin-bottom: 0.3rem;
  }
}

@media only screen and (max-device-width: 500px) { 
  .link {
    margin-bottom: 0.5rem;
  }

  .userNameWrapper {
    padding-bottom: 0;
  }
  
  .userName {
    display: block;
    text-align: center;
    border-top: 1px solid grey;
    padding-top: 0.9em;
    padding-bottom: 0.7em;
  }

  .greeting {
    margin: 0 auto;
    border-right: none;
    padding-right: 0;
    margin-bottom: 0.8em;
  }

  .myCart {
    margin-bottom: 0;
    margin-right: 0.9em;
    padding-right: 0.9em;
    border-right: 1px solid grey;
  }

  .signOutMsg {
    display: flex;
    align-items: center;
    animation: fade ease 10s;
    -webkit-animation: fade ease 10s;
    -moz-animation: fade ease 10s;
    -o-animation: fade ease 10s;
    -ms-animation: fade ease 10s;
  }

  .signOutText {
    margin: 0 auto;
  }
}