.mainBody {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 15px;
  grid-row-gap: 2rem;
}

.newsItem {
  justify-self: center;
  width: 80%; 
}

.newsItem:hover {
  text-decoration: none;
}

.newsImg {
  max-height: 200px;
  object-fit: contain;
}

@media only screen and (max-width: 1400px) {
  .mainBody {
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 2rem;
  }

  .newsImg {
    max-height: 300px;
    object-fit: contain;
  }
  
  .newsItem {
    justify-self: center;
    width: 95%; 
  }
}

@media only screen and (max-device-width: 777px) {
  .mainBody {
    grid-template-columns: repeat(1, 100%);
  }
  .newsItem {
    width: 100%; 
  }
}