.body {
  padding: 3% 10%;
}

.mainTitle {
  text-align: center;
  margin-bottom: 5%;
}

.pregnantTitle {
  font-size: 1.5em;
  margin-bottom: 1.2%;
}

.pregnantWrapper {
  padding: 0 2% 1px 2%;
}

.weightUnitToggle {
  padding: .1rem .5rem!important;
  cursor: pointer;
  font-size: 0.8em;
  margin-left: 10px;
}

.heightUnitToggle {
  padding: .1rem .5rem!important;
  cursor: pointer;
  font-size: 0.8em;
  margin-left: 10px;
}

@media (max-width: 1025px) {
  .body {
    padding: 30px;
  }
  .mainTitle {
    font-size: 1.5em;
    margin-bottom: 40px;
  }
  .pregnantTitle {
    font-size: 1.3em;
    margin-bottom: 20px;
  }
  .wrapButton {
    text-align: center;
  }
}

@media (max-width: 499px) {
  .mainTitle {
    margin-top: 1rem;
  }
}