.body {
    margin-top: 28px;
    text-align: center;
    padding: 3% 10%;
}

.send {
  margin-bottom: 2.5rem;
}
  
.img {
  border-radius: 50%;
  margin: auto;
  display: block;
}

.list {
  list-style: none;
  margin: 0;
  padding-right: 2rem;
}

.list > li {
  background: white;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0,0,0,0.05), 0 0.5rem 1.125rem rgba(75,0,0,0.05);
  margin-top: 1rem;
  min-height: 3rem;
  padding: 1rem 1rem 1rem 1rem;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

.tableWrapper {
  margin: 1.3rem auto 0 auto;
  width: 78.5%;
}

.table {
  font-family: "Montserrat SemiBold", HelveticaNeueBold, HelveticaNeue-Bold, "Helvetica Neue Bold", HelveticaBold, Helvetica-Bold, "Helvetica Bold", HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid grey;
  margin: 0 auto;
  margin-bottom: 0;
  padding: 15px 2px;
  width: 80%; 
}

.table2 {
  font-family: "Montserrat SemiBold", HelveticaNeueBold, HelveticaNeue-Bold, "Helvetica Neue Bold", HelveticaBold, Helvetica-Bold, "Helvetica Bold", HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid grey;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 15px 2px; 
  width: 80%;
}

.thead {
  border-bottom: 4px solid #DADADA;
  color: #212121;
}

.trow {
  font-size: 40px;
  padding-left: 10px;
}

.subHead {
  padding-left: 10px;
  float: left;
}

.tbody {
  border-bottom: 1px solid black;
}

.nutrient {
  border-bottom: 2px solid #DADADA;
}

.caloriesTitle {
  padding-left: 10px;
  font-size: 34px;
  float: left;
}

.calories {
  text-align-last: right;
  padding-right: 10px;
  font-size: 34px;
}

.header {
  text-align-last: right;
  padding-right: 10px;
}

.name {
  float: left;
  padding-left: 10px;
}

.amount {
  font-family: "helvetica";
  font-size: 18px;
  font-weight: normal;
  margin-left: 8px;
}

.daily {
  float: right;
  padding-right: 10px;
}

.dv {
  padding: 10px;
  font-family: "helvetica";
  font-size: 14px;
  font-weight: normal;
}

@media only screen and (max-width: 499px) {
  .list {
    list-style: none;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
}